$font-famaly: Helvetica, sans-serif;
$primary-color: #333;
$text-color: white;

.mainB{
  font-family: $font-famaly;
  color: $text-color;
  background-color: rgb(110, 82, 160);
  left: auto;
  border-radius: 20px;
  // display: flex;
  flex-wrap:nowrap;
  align-content: center;
  margin: 0 400px 0 400px;
  left: 30%;
  top: 15%;
  border: solid black 3px;
  // justify-content: space-between;
  .alert {
    padding: 5px;
    button {
      outline:auto;
    }
  }
}

.Head{
  background-color: rgba(61, 162, 187, 0.317);
  position: relative;
  // top: 20%;
  margin: 5% 20% 5% 20%;
  border: #000 2px solid;
  label{
    margin: 0 30px;
    color: black;
    font: Stencil Std, fantasy;
  }

  input{
      background-color: #686868;
      color: white;
      padding: 14px 25%;
      margin: 8px 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;

    input [type=text] select {
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=submit]:hover {
      background-color: #600000;
    }
  }
}

button{
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  .button:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  .button:hover {
    transform: translateY(-1px);
  }

  .button:hover{
    .button:focus {
      background-color: #fb8332;
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
}
}

.missionDiv{
  font-size: 1.2rem;
  background: rgb(0, 139, 137);
  color: #000;
  overflow-wrap: break-word;
  margin: 30px;
  
  // padding: 4rem;
  position: relative;
}

body{
  background-color: purple;
}



